html,
body {
  overflow-x: hidden;
}

.accordion {
  width: 100%;
  padding: 0;
  margin: 0;
}

.accordion-1 {
  background-color: #d6e5fc;
}

.accordion-2 {
  background-color: #c8d8f0;
}

.App {
  text-align: center;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-nav {
  height: 100%;
  background-image: url("img/sky-2.jpeg");
  background-size: cover;
}

.jumbotron {
  height: 550px;
  display: flex;
  text-align: center;
}

.jumbotron h1 {
  margin: 100px 0 0px;
  color: #f2e2ff;
}

.jumbotron h2 {
  color: #f2e2ff;
  margin-bottom: 20px;
}

.jumbotron h5 {
  color: #f2e2ff;
  margin-bottom: 180px;
}

.card {
  background-color: #f3e7fa;
}

.carousel-div {
  background-image: linear-gradient(#b483da, #f2e2ff);
}

.carousel-col {
  width: auto;
  margin: auto;
  object-fit: cover;
}

.carousel {
  /* margin-top: 80px;
  margin-bottom: 50px; */
  width: 68%;
  border: 3px solid #e5d0f7;
}

.carousel,
img {
  border-radius: 3px;
}

.site-footer {
  height: auto;
  background-image: linear-gradient(#f2e2ff, white);
  padding: 20px 0;
}
